.gamefield {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    width: 700px;
    height: 700px;

}

button.newGame {
    width: 706px;
    height: 50px;
    font-size: 30px;
    display:none;
}

.colHeader {
    border-bottom:3px solid black;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    float:left;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

span.X {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #F1D043;
    display: block;
    margin: auto;
    margin-top: -5px;
}

span.O {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #FF2003;
    display: block;
    margin: auto;
    margin-top: -5px;}

.coin {
    border:1px solid black;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    float:left;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    background-color: #3F49A6;
    text-align: center;


}

.message {
    width: 706px;
    height: 50px;
    background-color: aquamarine;
    color: black;
    font-size: 25px;
    font-weight: bold;
    display: none;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;

}